body{
    background-image: url("fondo.jpg");
}

h1{
    text-align: center;
    color: #CFDAD4;
    font-style: italic;
}

em{
    font-weight: bold;
}

.global h1{
    text-align: center;
    color: black;
}
ul.horizontal{
    margin:0;
    padding:0;
}

ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
}

a:hover {
    font-weight: bolder;
}

.global,#cpestana2,
#cpestana3,#cpestana4,
#cpestana5,#cpestana6,#cpestana7,
#contenidopestanas{
    background-color: darkcyan;
    font-family: fantasy;
}
.global {
	height: 300px;
    width: 1200px;
    margin: 0px auto;
	border: 1px solid #ddd;
	background: #DFEBE5;
    overflow: auto;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}

p.foto .logo{
    float: left;
    height: 250px;
}

p.foto:hover .logo{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

p.fotomixtificacion .logo{
    float: right;
    height: 250px;
}

p.fotocabestrillo .logo{
    float: right;
    height: 200px;
}

p.fotoaliento .logo{
    float: right;
    height: 250px;
}

p.fotoduque .logo{
    float: right;
    height: 200px;
}

p.fotobestias .logo{
    float: right;
    height: 250px;
}

.horizontal li a {
    background-color:#DAAF99;
    color:black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }

  dt{
      font-size: 25px;
      color: #FFD191;
  }
  dd{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
#disqus_thread{
    background-color: #C0D1DA;
}

h2{
    color: lemonchiffon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}